body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url("../bg23.jpg"); 
    background-size: cover;
}
/* Media query para resoluciones menores a 768px */
@media (max-width: 768px) {
    body {
      background-size: contain; /* Escala la imagen para que se ajuste completamente al contenedor sin recortarla */
    }
  }
  
  /* Media query para resoluciones menores a 480px */
  @media (max-width: 480px) {
    body {
      background-image: none; /* Elimina la imagen de fondo en dispositivos muy pequeños */
      /* Puedes agregar estilos adicionales para mejorar la visualización en dispositivos pequeños */
    }
  }

#inicio {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: flex-start; 
    padding-top: 230px; 
    padding-left: 200px; 
}

#inicio h1, #inicio h2 {
    margin-top: 0; 
    margin-bottom: 10px; 
    color: #404040;
    -webkit-background-clip: text;
    display: block;
    font-family: 'Roboto', sans-serif;
}

#initial-graded {
    font-size: 3em; 
}

#second-graded {
    font-size: 1.9em; 
}
