/* MEDIA QUERIES */

@media (max-width: 768px) {
  body {
    background-size: contain; 
  }
}

@media (max-width: 480px) {
  body {
    background-image: none; 
  }
}



/* CONFIGURACIÓN BÁSICA DEL FONDO */

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
    background-size: cover;
}


/* CONFIGURACIÓN DE LA PÁGINA DE INICIO PRINCIPAL */

#inicio {
  height: 100vh;
  display: flex;
  flex-direction: row; 
  justify-content: flex-start; 
  align-items: flex-start; 
  padding-top: 100px; 
  padding-left: 140px; 
}

#inicio h1, #inicio h2 {
  margin-top: 0; 
  margin-bottom: 10px; 
  background-image: linear-gradient(to bottom, #D9D9D9, #BFBFBF);
  color: transparent;
  -webkit-background-clip: text;
  display: block;
  font-family: 'Poppins', sans-serif;
}

#i-gra {
    font-size: 3em; 
    margin-top: 0;
}

#s-gra {
    font-size: 1.9em; 
    margin-bottom: 10px;
}

#text-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  align-items: flex-start; 
}


/* FIN DE LA CONFIGURACIÓN DE LA PÁGINA DE INICIO PRINCIPAL */

/* CONFIGURACIÓN DE LA FOTO DEL PILOTO */

#piloto-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding-top: -10px;
}

#piloto-foto {
  float: right;
  max-width: 700px;
  max-height: 700px;
  margin-left: 230px;
  margin-top: -300px; /* Nuevo */
  margin-bottom: 20px;

}

/* FIN DE LA CONFIGURACIÓN DE LA FOTO DEL PILOTO */

/* CONFIGURACIÓN DE LA BANDA NEGRA  DE NAVEGACIÓN PREVIA AL DESC. EMPRESAS */

#banda-nav-negra {
  background-color: black;
  padding-top: 110px;
}

/* FIN DE LA CONFIGURACIÓN DE LA BANDA NEGRA PREVIA AL DESC. EMPRESAS */

/* LINEA GRIS VISUAL*/
#linea-gris {
  height: 2px;
  background-color: gray;
}


/* CONFIGURACIÓN DEL APARTADO DE DESCUENTOS PARA EMPRESAS */

#desc-empresas {
  padding-top: 15px;
  background-color: #1E1D24;
  display: block;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 12vh;
}

#desc-empresas a {
  padding-top: 10px;
  color: #2997ff; /* Cambia esto al color que prefieras */
  -webkit-background-clip: text;
  display: block;
  font: 'Zilla Slab', serif;
}

#texto-anuncio-empresas {
  color: transparent;
  background-image: linear-gradient(to bottom, #D9D9D9, #BFBFBF);
  -webkit-background-clip: text;
  display: block;
  font: 'Zilla Slab', serif;
}

/* FIN DE LA CONFIGURACIÓN DEL APARTADO DE DESCUENTOS PARA EMPRESAS */




