/* MEDIA QUERIES */

@media (max-width: 768px) {
  body {
    background-size: contain; 
  }
}

@media (max-width: 480px) {
  body {
    background-image: none; 
  }
}



/* CONFIGURACIÓN BÁSICA DEL FONDO */

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
    background-size: cover;
}


/* CONFIGURACIÓN DE LA PÁGINA DE INICIO PRINCIPAL */

#inicio {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: flex-start; 
    padding-top: 230px; 
    padding-left: 200px; 
}

#inicio h1, #inicio h2 {
    margin-top: 0; 
    margin-bottom: 10px; 
    background-image: linear-gradient(to bottom, #D9D9D9, #BFBFBF);
    color: transparent;
    -webkit-background-clip: text;
    display: block;
    font-family: 'Poppins', sans-serif;
}

#i-gra {
    font-size: 3em; 
}

#s-gra {
    font-size: 1.9em; 
}


/* FIN DE LA CONFIGURACIÓN DE LA PÁGINA DE INICIO PRINCIPAL */


/* CONFIGURACIÓN DE LA BANDA NEGRA  DE NAVEGACIÓN PREVIA AL DESC. EMPRESAS */

#banda-nav-negra {
  background-color: black;
  padding-top: 110px;
}

/* FIN DE LA CONFIGURACIÓN DE LA BANDA NEGRA PREVIA AL DESC. EMPRESAS */


/* CONFIGURACIÓN DEL APARTADO DE DESCUENTOS PARA EMPRESAS */

#desc-empresas {
  background-color: #404040;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 10vh;
}

#desc-empresas a {
  color: #2997ff; /* Cambia esto al color que prefieras */
  -webkit-background-clip: text;
  display: block;
  font-family: 'Poppins', sans-serif;
}

#texto-anuncio-empresas {
  color: transparent;
  background-image: linear-gradient(to bottom, #D9D9D9, #BFBFBF);
  -webkit-background-clip: text;
  display: block;
  font-family: 'Poppins', sans-serif;
}

/* FIN DE LA CONFIGURACIÓN DEL APARTADO DE DESCUENTOS PARA EMPRESAS */




